on: [push, pull_request]
name: CI

jobs:
  build:
    runs-on: ubuntu-latest

    # cancel already running jobs for the same branch/pr/tag
    concurrency:
      group: build-${{ github.ref }}
      cancel-in-progress: true

    steps:

    - uses: actions/checkout@v2

    - uses: psf/black@stable
      with:
        options: "--check --verbose"
        src: "cvc5_pythonic_api"
        version: "23.3.0"

    - uses: actions/checkout@v2
      with:
        repository: cvc5/cvc5
        path: cvc5
      
    - name: Install dependencies
      uses: ./cvc5/.github/actions/install-dependencies
      with:
        with-documentation: false
        with-python-bindings: true

    - name: Setup ccache cache
      uses: actions/cache@v2
      with:
        path: ccache-dir
        key: cvc5-pythonic-api-ccache-${{ github.sha }}
        restore-keys: cvc5-pythonic-api-ccache-

    - name: Configure ccache
      shell: bash
      run: |
        ccache --set-config=cache_dir=${{ github.workspace }}/ccache-dir
        ccache --set-config=compression=true
        ccache --set-config=compression_level=6
        ccache -M 500M
        ccache -z

    - name: Setup dependencies cache
      uses: actions/cache@v2
      with:
        path: cvc5/build/deps
        key: cvc5-pythonic-api-deps-${{ hashFiles('cvc5/cmake/**') }}-${{ hashFiles('.github/**') }}

    - name: Build cvc5
      run: |
        cd cvc5/
        ./configure.sh production --auto-download --python-bindings --cocoa
        cd build/
        make -j${{ env.num_proc }}

    - name: Test cvc5 pythonic API
      run: |
        make test
      env:
        PYTHONPATH: cvc5/build/src/api/python:.
